{% load static %}
{% load icon %}

<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="{% url 'home:home' %}">
		<img src="{% static 'dummy_images/python.jpeg' %}" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
		RKR
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>


	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		{% if request.user.is_authenticated %}
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Link auth <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link auth</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
					Dropdown auth
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">User_auth</button>
		</form>
		{% else %}
		<ul class="navbar-nav mr-auto">

	<!-- Uncomment if navbar links for non-registered users are needed -->

      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home not<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link not</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Dropdown not
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action 1</a>
          <a class="dropdown-item" href="#">Action 2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Action 3</a>
        </div>
    </li> -->


</ul>

<ul class="navbar-nav ml-auto">
	<li class="nav-item">
		<a class="nav-link" href="{% url 'authenticate:login' %}">Zaloguj się</a>
	</li>
	<li class="nav-item">
		<a class=" btn btn-outline-info" href="{% url 'authenticate:register' %}">Rejestracja</a>
	</li>
</ul>
</div>
{% endif %}	
</nav>



